SECRET_KEY=SECRET_KEY_HERE
PORT=8082
GROUP_TTL=60 #Group time to live in days
GROUP_INACTIVE_MAX=7 #Max days to keep group if not active
MAX_GROUPS=1000 #Update this for your memory (RAM) and scope
ADMIN_KEY=admin_for_system_info